<div class='nested-fields'>
    <%= f.input :step_location, input_html: {class: 'autocomplete'} %>
    <div class="links btn btn-danger white">
      <%= link_to_remove_association "Remove step", f %>
    </div>

</div>

