.index-map {
  position: fixed;
  top: 80px;
  bottom: 0;
  width: calc(100vw / 3);
  padding-right: 30px;
  z-index: 4;
  margin-top: 80px;
}

.filter-form{
  margin-top: 20px;
}

.fixed{
  position:fixed;
  background: #eee;
}

.index-header{
  // position: fixed;
  margin-bottom: 40px;
}

.index-body {
  margin-top: 0px;
  padding: 0px;
  overflow: auto;
  max-height: 100vh;
}

.row.cards{
  margin-top: 100px;
  z-index: 3;
  background-color: #eee;

}

.index-filter-form{
  position: fixed;
  width: 100%;
  z-index:4;
  background: #eee;
}

