<div class="congratulation-next-trip">
  <div class="block">
    <h2>You don’t have any trips planned right now.</h2>
    <%= link_to "Find a trip", root_path, :class => "btn-medium" %>
  </div>
</div>
