<div class="signup-wrapper">
  <div class="feature-left">
    <%= render "feature_left_profil" %>
  </div>
  <div class="main-panel-right">
    <%= render "right_side_user_profil" %>
</div>





















