
<div class="banner bg_home_page">

	<div class="container-fluid">
		<div class="row text-center bg_home_page_h1">
			<div class="col-xs-12 text-center home-moto">
        <h1> Share a Road Trip </h1>
        <h2> Live a different travel experience </h2>
			</div>
		</div>
		<%= render 'home_filter_form' %>
		<%= render 'email_register' %>
	</div>
</div>
<video class="video" autoplay loop="loop">
		<source src="easytrip.mp4">
</video>
