
.card {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 4px;
  h2{
    font-size: 15px;
    font-weight: bold;
  }
}

.trips-index .card:hover {
  transition:all 0.4s ease;
  -webkit-transform: scale(1.01);
         -ms-transform: scale(1.01);
         -transform: scale(1.01);
}



.card-content {
  height: 135px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  padding: 20px;

  .title {
    color: gray;
    margin-top: -5px;
  }

  .travel-details{
    font-size: 12px;
    color: black !important;
  }

  .hr-card {
    margin-top: 10px;
    margin-bottom: 5px;
 }

 .card-body{
   margin-top: -30px;

 }

 .city-text{
  color: black;
  font-weight: bold;
 }

 .date-text {
  color: black;
  font-weight:lighter;
 }

}

// To refactor
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 15px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 15px;
}


@media screen and (max-width: 768px) {
  .card-content {
    min-height: 150px;
    margin-top: -15px;
    padding: 0 10px 10px 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);

    .travel-details{
      padding-left: 15px;
      color: black;
    }
  }
}
